name: Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install the dependencies
        run: npm i
      - name: Install vsce
        run: npm i -g vsce
      - name: Publish
        run: vsce publish -p ${{ secrets.VSCE_PAT }}
